.doctorPage {
    font-family: 'Arial', sans-serif;
    color: #2f2e2e;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: left; /* Align content to the left */
}

.doctorPage h2 {
    font-size: 36px;
    font-style: bold;
    color: #6a5acd;
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 36px;
}

.form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.input, .button {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px; /* Larger font size */
}

.input {
    border: 2px solid #ccc; /* Thicker border */
    background-color: #fff;
    box-sizing: border-box; /* Adjust box-sizing */
}

.input:focus {
    border-color: #6e6e6e;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.button {
    background-color: #6a5acd; /* Matched to PatientPage button color */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #5f4bb6;
}

.prescriptionsList {
    list-style: none;
    padding: 0;
}

.prescriptionsList li {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-left: 5px solid #6a5acd; /* Matched to PatientPage */
    margin-bottom: 15px;
    text-align: left; /* Align prescription details to the left */
}

.prescriptionsList li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fieldName {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-align: left;
    width: 150px; /* Ensuring enough width for the longest field name */
}

.fieldValue {
    font-weight: normal;
    display: inline;
}

.fullPage {
    min-height: 100vh;
    background: rgb(241, 234, 249);
}


.prescriptionTitleHeader {
    font-size: 28px;
    color: #6a5acd; /* Specified hex color */
    text-align: left;
    margin-bottom: 20px;
}


.prescriptionButton {
    background-color: #6a5acd; /* Specified hex color */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

